body {
	background: rgb(43, 43, 43);
	margin: 0;
	padding: 0;
}

h3 {
	color: #fff;
	font-family: Helvetica;
	margin: 20.7px;
}

.background {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	position: relative;
	z-index: -1;
	top: 6px;
}

h1 {
	color: white;
	font-family: Helvetica;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 10%;
}

.text1 {
	color: white;
	font-family: Helvetica;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 18%;
	font-size: 25;
	text-shadow: -0.7px -0.7px 0 #000, 0.7px -0.7px 0 #000, -0.7px 0.7px 0 #000,
		0.7px 0.7px 0 #000;
}

.text2 {
	color: white;
	font-family: Helvetica;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 25%;
	font-size: 25;
	text-shadow: -0.7px -0.7px 0 #000, 0.7px -0.7px 0 #000, -0.7px 0.7px 0 #000,
		0.7px 0.7px 0 #000;
}

h2 {
	color: white;
	font-family: Helvetica;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 50%;
	font-size: 25;
	text-shadow: -0.7px -0.7px 0 #000, 0.7px -0.7px 0 #000, -0.7px 0.7px 0 #000,
		0.7px 0.7px 0 #000;
}

.button2 {
	display: flex;
	height: 60px;
	width: 140px;
	padding: 0;
	background: #505050;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	margin-left: 93%;
	position: absolute;
	top: 5px;
	right: 5px;
}

.button2:hover {
	background-color: #373737;
}

.button2:active {
	background-color: #202020;
}

.button__text2,
.button__icon2 {
	display: inline-flex;
	align-items: center;
	padding-block: 0 48px;
	color: #fff;
	height: 100%;
	right: 130;
}

.button__icon2 {
	font-size: 1.5em;
	margin-left: 5%;
}

.button__text2 {
	margin-left: 8px;
}